.home-bg-container {
  min-height: 100vh;
  background-color: #121212;
  font-family: 'Roboto';
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.home-container {
  flex-grow: 1;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  padding: 50px;
  padding-left: 85px;
  padding-right: 85px;
}

.home {
  width: 55%;
}

.home-heading {
  font-size: 55px;
  line-height: 1.5;
  margin-bottom: 0;
}

.home-description {
  color: #f8fafc;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 32px;
}

.jobs-btn {
  border: 0;
  outline: none;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Roboto';
  color: #ffffff;
  border-radius: 5px;
  background-color: #4f46e5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    padding: 15px;
  }
  .home {
    width: 100%;
  }
  .home-heading {
    font-size: 28px;
  }
  .home-description {
    font-size: 14px;
  }
  .jobs-btn {
    font-size: 12px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
